.header {
    color: #fff;
    margin-bottom: 2rem;
    /* border: 2px solid red; */
}

.user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-wrapper,
.user-buttons {
    display: flex;
    padding: 5px;
}

.input-wrapper>input {
    padding: 8px;
    font-size: 1.0rem;
    margin: 5px;
}

h2 {
    font-size: 2em;
    /* border: 2px solid red; */
}

.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
}

.user-buttons .btn {
    padding: 10px;
    font-size: 1.0rem;
    width: 7rem;
    margin: 0 5px;
    color: #8373eb;
    font-weight: 700;
    font-size: 12px;
    border-color: #8373eb;
}

.black-title {
    color: #00bc77;
    ;
}

.white-title {
    color: white;
    /* border: 2px solid red; */
}

@media (max-width:768px) {
    h2 {
        font-size: 24px;
        /* border: 2px solid red; */
    }
    .white-title {
        font-size: 24px;
        margin-top: 20px;
    }
    .header {
        padding-top: 10px;
    }
}